<?xml version="1.0"?>
<!--
/**
 * Copyright © Two.inc All rights reserved.
 * See COPYING.txt for license details.
 *
 * ABN brand override of the admin tab label declared in
 * Two_Gateway/etc/adminhtml/system.xml. Loaded after Two_Gateway
 * via the module sequence so this label wins.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="two_gateway" translate="label" class="two-extension" sortOrder="500">
            <label>ABN AMRO Zakelijk op Rekening</label>
        </tab>
    </system>
</config>
