<?xml version="1.0"?>
<!--
/**
 * Copyright © Two.inc All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Two\Gateway\Api\Config\RepositoryInterface"
                type="Two\Gateway\Model\Config\Repository"/>
    <preference for="Two\Gateway\Api\Log\RepositoryInterface"
                type="Two\Gateway\Model\Log\Repository"/>
    <preference for="Two\Gateway\Api\Webapi\SoleTraderInterface"
                type="Two\Gateway\Model\Webapi\SoleTrader"/>
    <preference for="Two\Gateway\Api\Webapi\TermSelectionInterface"
                type="Two\Gateway\Model\Webapi\TermSelection"/>
    <preference for="Two\Gateway\Api\Webapi\SurchargesInterface"
                type="Two\Gateway\Model\Webapi\Surcharges"/>
    <preference for="Two\Gateway\Api\CurrencyRatesProviderInterface"
                type="Two\Gateway\Model\CurrencyRatesProvider"/>
    <!-- Default brand binding. Overlay packages may rebind via their own DI preference. -->
    <preference for="Two\Gateway\Api\BrandRegistryInterface"
                type="Two\Gateway\Brand\TwoBrand"/>
    <!-- Default outbound-API translator: passthrough. Brand overlays rebind. -->
    <preference for="Two\Gateway\Api\ApiTranslatorInterface"
                type="Two\Gateway\Model\ApiTranslator\NullApiTranslator"/>

    <!-- PSR-17 factories: injected per-type to Adapter rather than via global
         <preference>. Magento <preference> is process-global and last-loaded-wins;
         shared third-party interface bindings collide silently with other modules. -->
    <type name="Two\Gateway\Service\Api\Adapter">
        <arguments>
            <argument name="requestFactory" xsi:type="object">Nyholm\Psr7\Factory\Psr17Factory</argument>
            <argument name="streamFactory" xsi:type="object">Nyholm\Psr7\Factory\Psr17Factory</argument>
            <argument name="responseFactory" xsi:type="object">Nyholm\Psr7\Factory\Psr17Factory</argument>
            <argument name="translatorWarnMs" xsi:type="number">100</argument>
        </arguments>
    </type>

    <type name="Two\Gateway\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Two\Gateway\Logger\ErrorLogger">
        <arguments>
            <argument name="name" xsi:type="string">TwoError</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Two\Gateway\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <type name="Two\Gateway\Logger\DebugLogger">
        <arguments>
            <argument name="name" xsi:type="string">TwoDebug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Two\Gateway\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="two-after-place-order"
                type="Two\Gateway\Plugin\Model\Sales\AfterPlaceOrder" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="two-order-surcharge-ext-attrs"
                type="Two\Gateway\Plugin\Api\SurchargeExtensionAttributes" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="two-invoice-surcharge-ext-attrs"
                type="Two\Gateway\Plugin\Api\SurchargeExtensionAttributes" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="two-creditmemo-surcharge-ext-attrs"
                type="Two\Gateway\Plugin\Api\SurchargeExtensionAttributes" sortOrder="10"/>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="two_surcharge_amount" xsi:type="string">sales_order.two_surcharge_amount</item>
                <item name="base_two_surcharge_amount" xsi:type="string">sales_order.base_two_surcharge_amount</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Model\Order\Pdf\Config">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="renderers" xsi:type="array">
                    <item name="invoice" xsi:type="array">
                        <item name="two_surcharge" xsi:type="array">
                            <item name="class" xsi:type="string">Two\Gateway\Model\Pdf\Total\Surcharge</item>
                        </item>
                    </item>
                    <item name="creditmemo" xsi:type="array">
                        <item name="two_surcharge" xsi:type="array">
                            <item name="class" xsi:type="string">Two\Gateway\Model\Pdf\Total\Surcharge</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="environment" xsi:type="array">
                <item name="payment/two_payment/mode" xsi:type="string">1</item>
                <item name="payment/two_payment/debug" xsi:type="boolean">1</item>
            </argument>
        </arguments>
    </type>
</config>
