<div
    class="payment-method two-payment-method"
    data-bind="css: {'_active': (getCode() == isChecked())}"
>
    <div class="payment-method-title field choice">
        <div class="payment-option-title-container">
            <input
                type="radio"
                name="payment[method]"
                class="radio"
                data-bind="attr: {'id': getCode()}, value: getCode(),
                checked: isChecked, click: selectPaymentMethod,
                visible: isRadioButtonVisible()"
            />
            <span class="title-with-tooltip">
                <span data-bind="text: getTitle()"></span>
                <div class="two-tooltip-container">
                    <svg
                        class="tooltip-svg"
                        width="20"
                        height="21"
                        viewBox="0 0 20 21"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8.33317 9.14058V8.72392C8.33317 7.80344 9.07936 7.05725 9.99984 7.05725C10.9203 7.05725 11.6665 7.80344 11.6665 8.72392V8.82502C11.6665 9.29386 11.4803 9.7435 11.1487 10.075L9.99984 11.2239M10.4165 13.7239C10.4165 13.954 10.23 14.1406 9.99984 14.1406C9.76972 14.1406 9.58317 13.954 9.58317 13.7239M10.4165 13.7239C10.4165 13.4938 10.23 13.3073 9.99984 13.3073C9.76972 13.3073 9.58317 13.4938 9.58317 13.7239M10.4165 13.7239H9.58317M18.3332 10.3906C18.3332 14.993 14.6022 18.7239 9.99984 18.7239C5.39746 18.7239 1.6665 14.993 1.6665 10.3906C1.6665 5.78821 5.39746 2.05725 9.99984 2.05725C14.6022 2.05725 18.3332 5.78821 18.3332 10.3906Z"
                            stroke="#616161"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <span class="two-tooltip-text">
                        <p>
                            <!-- ko i18n: 'Two is a payment solution for B2B purchases online, allowing you to buy from your favourite merchants and suppliers on trade credit. Using Two, you can access flexible trade credit instantly to make purchasing simple.' --><!-- /ko -->
                        </p>
                        <br />
                        <p>
                            <b
                                ><!-- ko i18n: 'Buy now, receive your goods, pay your invoice later.' --><!-- /ko --></b
                            >
                        </p>
                        <br />
                        <p>
                            <a href="https://www.two.inc/what-is-two" target="_blank"
                                ><!-- ko i18n: 'Find out more' --><!-- /ko --></a
                            >
                        </p>
                    </span>
                </div>
            </span>
            <div class="payment-option-logo two-payment-option-logo"></div>
        </div>
    </div>

    <div class="payment-method-content">
        <div class="redirect_message" data-bind="text: redirectMessage"></div>
        <!-- ko if: showModeTab -->
        <!-- ko ifnot: showSoleTrader -->
        <div class="mode_selector" data-element="popup-message">
            <span class="mode_item" data-element="selected-element">
                <!-- ko i18n: 'Registered Organisation' --><!-- /ko -->
            </span>
            <span
                class="mode_item"
                data-element="click-element"
                data-bind="event: { click: () => soleTraderMode() }"
            >
                <!-- ko i18n: 'Sole Trader' --><!-- /ko -->
            </span>
        </div>
        <!-- /ko -->

        <!-- ko if: showSoleTrader -->
        <div class="mode_selector" data-element="popup-message">
            <span
                class="mode_item"
                data-element="click-element"
                data-bind="event: { click: () => registeredOrganisationMode() }"
            >
                <!-- ko i18n: 'Registered Organisation' --><!-- /ko -->
            </span>
            <span class="mode_item" data-element="selected-element">
                <!-- ko i18n: 'Sole Trader' --><!-- /ko -->
            </span>
        </div>

        <!-- ko if: showPopupMessage -->
        <div class="sole_trader_note" data-element="sole-trader">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                />
            </svg>
            <div class="popup_message" data-element="popup-message">
                <span data-element="click-element" data-bind="event: { click: () => openIframe() }">
                    <!-- ko i18n: 'Click here to log in or sign up as a Sole Trader.' --><!-- /ko -->
                </span>
            </div>
            <span class="overlay" data-bind="event: { click: () => { hideIframe() } } "></span>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form
            id="two_gateway_form"
            data-bind="attr: {'data-hasrequired': $t('* Required Fields')}"
            onkeydown="return event.key != 'Enter';"
        >
            <fieldset
                class="fieldset payment method"
                data-bind='attr: {id: "payment_form_" + getCode()}'
            >
                <div class="field field-text required">
                    <label for="company_name" class="label">
                        <span><!-- ko i18n: 'Company Name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="company_name"
                            name="payment[company_name]"
                            required="true"
                            data-bind='
                            attr: {
                                title: $t("Company Name")
                            },
                            value: companyName'
                            class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text required">
                    <label for="company_id" class="label">
                        <span><!-- ko i18n: 'Company ID'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="company_id"
                            name="payment[company_id]"
                            required="true"
                            data-bind='
                            attr: {
                                title: $t("Company ID")
                            },
                            value: companyId'
                            class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isInvoiceEmailsEnabled">
                    <label for="invoice_emails" class="label">
                        <span data-bind="i18n: 'Invoice email address'"></span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="invoice_emails"
                            data-bind="value: invoiceEmails, event: { change: validateEmails }"
                            class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isProjectFieldEnabled">
                    <label for="two_project" class="label">
                        <span> <!-- ko i18n: 'Project'--><!-- /ko --> </span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="two_project"
                            name="payment[project]"
                            data-bind='
                            attr: {title: $t("Project")},
                            value: project'
                            class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isDepartmentFieldEnabled">
                    <label for="two_department" class="label">
                        <span><!-- ko i18n: 'Department'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="two_department"
                            name="payment[department]"
                            data-bind='
                            attr: {title: $t("Department")},
                            value: department'
                            class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isOrderNoteFieldEnabled">
                    <label for="two_order_note" class="label">
                        <span><!-- ko i18n: 'Order Note'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="two_order_note"
                            name="payment[orderNote]"
                            data-bind='
                            attr: {title: $t("Order Note")},
                            value: orderNote'
                            class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isPONumberFieldEnabled">
                    <label for="two_po_number" class="label">
                        <span><!-- ko i18n: 'PO Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            id="two_po_number"
                            name="payment[poNumber]"
                            data-bind='
                            attr: {title: $t("PO Number")},
                            value: poNumber'
                            class="input-text"
                        />
                    </div>
                </div>
                <!-- ko if: isPaymentTermsEnabled -->
                <div class="payment-method-content terms-container">
                    <input
                        type="checkbox"
                        name="terms-checkbox"
                        data-bind="checked: isPaymentTermsAccepted, event: { change: logIsPaymentsAccepted }"
                    />
                    <span class="terms-text" data-bind="html: paymentTermsMessage"></span>
                </div>
                <!-- /ko -->
            </fieldset>
        </form>
        <div class="actions-toolbar">
            <div class="primary">
                <button
                    data-role="review-save"
                    type="submit"
                    data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                    class="action primary checkout"
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
