<?xml version="1.0"?>
<!--
/**
 * Copyright © Two.inc All rights reserved.
 * See COPYING.txt for license details.
 *
 * Backward-compatibility route for ABN merchants. See
 * ABN_Gateway/etc/adminhtml/routes.xml for rationale.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="abn" frontName="abn">
            <module name="Two_Gateway" />
        </route>
    </router>
</config>
